In [1]:
import pandas as pd
import numpy as np 
from scipy.io import arff

from sklearn.preprocessing import LabelEncoder
from tkinter import *
import csv

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
data = pd.read_csv("train.csv")

In [3]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)
data.tail()

,textosEads,ClassEmociones
15995,i just had a very brief time in the beanbag and i said to anna that i feel like i have been beaten up,sadness
15996,i am now turning and i feel pathetic that i am still waiting tables and subbing with a teaching degree,sadness
15997,i feel strong and good overall,joy
15998,i feel like this was such a rude comment and im glad that t,anger
15999,i know a lot but i feel so stupid because i can not portray it,sadness

In [4]:
#Immprimir tabla en el txt
f3 = open ('salida1.txt','w',encoding="utf8")
f3.write(str(data))
f3.close()

In [5]:
vectorizer2 = CountVectorizer(analyzer='word', ngram_range=(0, 1))
X2 = vectorizer2.fit_transform(data[0:1])
vectorizer2.get_feature_names_out()
print(X2)

  (0, 1)	1
  (1, 0)	1

In [6]:
vectorizer2.vocabulary_

{'textoseads': 1, 'classemociones': 0}

In [7]:
encoder = LabelEncoder()

In [8]:
set(data.ClassEmociones)

{'anger', 'fear', 'joy', 'love', 'sadness', 'surprise'}

In [9]:
data['textosEads'] = encoder.fit_transform(data.textosEads.values)
data['ClassEmociones'] = encoder.fit_transform(data.ClassEmociones.values)

In [10]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
data.tail()

       textosEads  ClassEmociones
15995        9873               4
15996        1067               4
15997        7243               2
15998        5854               0
15999       10042               4

In [11]:
#Immprimir tabla en el txt
f3 = open ('salida2.txt','w',encoding="utf8")
f3.write(str(data))
f3.close()